<div class="post-container">
    <div class="profile-container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png?20170328184010" alt="Profile Picture" class="profile-picture">
        <span class="user-name">User Name</span>
    </div>
    <div class="post-text">This is a sample post.</div>
    <div class="timestamp">Posted 1 hour ago</div>
    <div class="comment-icon" (click)="commentComponent.toggleCommentInput()">
        <i class="fa fa-comment"></i> Comment
    </div>
    <app-comment #commentComponent></app-comment> <!-- Reference to the comment component -->
</div>





  