.post-container {
    border: 1px solid #e1e4e8;
    padding: 15px;
    margin: 10px;
    .user-name {
      font-weight: bold;
    }
    .post-text {
      margin: 10px 0;
    }
    .timestamp {
      color: #6a737d;
      font-size: 12px;
    }
  }

  .comment-icon {
    cursor: pointer;
    color: #1da1f2;
    // Additional styling as needed
  }
  

  .comment-input-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #e1e4e8;
    textarea {
      padding: 8px;
      border: 1px solid #e1e4e8;
      border-radius: 5px;
      font-size: 14px;
      resize: vertical;
    }
    button {
      align-self: flex-end;
      background-color: #1da1f2;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      margin-top: 10px;
    }
  }

  .comment-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #e1e4e8;
    .user-name {
      font-weight: bold;
      font-size: 14px;
      color: #333;
    }
    .comment-text {
      font-size: 14px;
      color: #333;
      margin: 5px 0;
    }
    .timestamp {
      font-size: 12px;
      color: #888;
    }
    .profile-picture {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }
      
  }
  