/* You can add global styles to this file, and also import other style files */
$primary-color: #1da1f2;
$secondary-color: #14171a;



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: hsl(232, 13, 14); }
