@import '/src/styles.scss';

.comment-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border: 1px solid $secondary-color;
  background-color: #f5f8fa;
}

.comment-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
  &:hover {
    background-color: #f5f8fa;
  }
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.user-name {
  margin-left: 8px;
  font-weight: bold;
  color: $primary-color;
}

.comment-text {
  margin-top: 8px;
  font-size: 14px;
}

.timestamp {
  margin-top: 4px;
  color: #777;
  font-size: 10px;
}

@media (max-width: 768px) {
  .post-container,
  .comment-container {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .post-text,
  .comment-text {
    font-size: 18px;
  }
}

.highlighted {
  background-color: #f0f0f0;
}

.tagged {
  background-color: #e1e1e1;
  border-radius: 4px;
  color: red;  // Making the text red
}